@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --lightWhite: #f0f0f0;
  --lightGrey: #dddddd;
  --primary: #021934;
  --lightPrimary: #031f3f;
  --secondary: #fcc84e;
  --text-color: #333333;
  --border: #cccccc;
  --disabled: #b0b0b0;
}

@media (max-width: 500px) {
  :root {
    font-size: 12px !important;
  }
  .nav {
    font-size: 1.33rem;
  }
}

.nav {
  height: 5rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary);
  padding: 1rem;
  font-size: 1.1rem;
}

.navLink {
  display: flex;
  color: var(--lightWhite);
  flex-wrap: wrap;
  margin-right: 2rem;
  transition: transform 0.3s;
  border-radius: 5px;
  position: relative;
  align-items: center;
  cursor: pointer;
  padding: 0rem 1rem;
}

.navItem {
  color: var(--lightWhite);
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navItem:hover {
  background-color: var(--lightPrimary);
}
.list {
  padding-top: 1.8rem;
  position: absolute;
  top: calc(100%);
  left: 0px;
  background-color: var(--primary);
  width: 150%;
  box-sizing: border-box;
  display: none;
  transition: all 0.3s;
}

.navLink:hover .list {
  display: block;
}

.navLink:last-child {
  margin-right: 0px;
}

.navLink:hover svg {
  transform: rotate(180deg);
}

.list:hover {
  display: block;
}

.listItem {
  padding: 0.75rem;
  margin: 0px;
  text-decoration: none;
  font-size: 0.9rem;
}

.listItem:hover {
  background: var(--lightPrimary);
}

svg {
  margin-left: 5px;
}

.navMenu {
  display: none;
  flex-direction: column;
}

.navMenuItem {
  width: 100%;
  text-align: center;
  padding: 0.8em 0 0.8em 0;
  font-size: 1.3rem;
  color: var(--lightWhite);
  background: var(--primary);
}

.navMenuItem:hover {
  background-color: var(--lightPrimary);
}

.navMenuIcon {
  display: none;
}

.navbarImg {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  transition: transform 0.3s;
}

.navbarImg:hover {
  transform: translateY(-2px);
}

.navSearchContainer {
  flex-grow: 100;
}

.navSearch {
  z-index: 1000;
  display: flex;
  width: 70%;
  margin: auto;
  max-width: 600px;
  align-items: center;
  padding: 0.5rem;
  background: var(--lightWhite);
  border: 2px solid var(--lightWhite);
  border-radius: 5px;
}

.navSearch > input {
  font-size: 1rem;
  margin-left: 0.5rem;
  border: none;
  background: none;
  flex-grow: 10;
}

.navSearch > button {
  border: none;
  background: var(--primary);
  color: var(--lightWhite);
  padding: 0.5rem;
  border-radius: 5px;
  flex-basis: 20%;
}

.navSearch:has(input:focus) {
  border: 2px solid rgb(226, 226, 226);
}

.navSearch > textarea:focus,
.navSearch > input:focus {
  outline: none;
}

@media (max-width: 750px) {
  .navSearchContainer {
    display: none;
  }
}

.menuLine {
  width: 30px;
  height: 3px;
  border-radius: 3px;
  margin-bottom: 5px;
  background: var(--lightWhite);
}

.hoverable {
  transition: all 0.3s;
}

.hoverable:hover {
  transform: translateY(-10px);
}

@media (max-width: 520px) {
  .navRight {
    display: none;
  }
  .navMenuIcon {
    display: inline;
    margin-left: auto;
    width: 30px;
    text-align: center;
    color: var(--lightWhite);
    padding: 0.6em;
    padding-top: calc(0.6em + 3px);
    border-radius: 5px;
  }
}

@media (max-width: 350px) {
  .navLink {
    display: none;
  }
}

body {
  min-height: 100vh;
  margin: 0px;
  font-family: Roboto, sans-serif;
  color: var(--fontColor);
  background-color: var(--lightWhite);
}

* {
  font-weight: normal;
}

footer {
  margin-top: 2rem;
  background-color: var(--primary);
  padding: 1rem;
  text-align: center;
  color: var(--lightWhite);
}

.footerAbsolute {
  position: absolute;
  bottom: 0;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading > h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.loading > img {
  width: 10rem;
}
